@tailwind base;
@tailwind components;
@tailwind utilities;

.yoki {
  border: 2px solid red;
}

.yokii {
  border: 2px solid blue;
}

.yokiii {
  border: 2px solid greenyellow;
}

/*  navbar */

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0;
}

nav ul li {
  margin: 1px;
  border-radius: 4px 4px 0 0;
  border: 1px solid grey;
  border-bottom: 0;
  color: black;
  flex: 1;
  background-color: gold;
}

nav ul li span {
  padding: 10px;
  background-color: lightgrey;
  width: 100%;
  display: inline-block;
}

nav ul li a {
  padding: 10px;
  display: inline-block;
}

strong {
  @apply text-gray-500 font-medium pr-1  bg-clip-text text-transparent text-xl bg-gradient-to-r from-pink-500  to-violet-500;
}

/*  other */
/* 
.search-user input {
  padding: 10px;
  border: 1px solid rgba(grey, 0.5);
  outline: 0;
}

.search-user button {
  padding: 12px;
  background-color: goldenrod;
  color: white;
  border: 0;
}

.user-details {
  display: flex;
  align-items: center;
}

.user-details img {
  width: 200px;
  height: 200px;
  margin-left: 100px;
}

.follower {
  display: flex;
  align-items: center;
}

.follower img {
  width: 200px;
  height: 200px;
  margin-right: 100px;
}

.follower h3 {
  width: 400px;
} */
